.ant-form-item {
    margin-right: 20px;
}
.form-item-list {
    display: flex;
    flex-wrap: wrap;
}
.submit-btn {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    align-items: flex-start;
    >:nth-child(1) {
        margin-right: 10px;
    }
}
.select-info-text {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
}
.has-select-word {
    font-size: 14px;
    color: #1677ff;
    letter-spacing: 1px;
    .has-select-num {
        margin: 0 1px;
    }
}
.clean-data {
    margin-left: 8px;
    font-size: 14px;
    cursor: pointer;
    color: red;
}
.table-cell-center {
    text-align: center;
}
.table-cell-left {
    text-align: left;
}
.table-cell-right {
    text-align: right;
}
.form-search {
    margin-bottom: 30px;
}
.table-operation-btn {
    width: 100%;
    display: flex;
    justify-content: space-around;
    .operate-btn-item-update {
        cursor: pointer;
        color: #1677ff;
    }
    .operate-btn-item-delete {
        cursor: pointer;
        color: red;
    }
    .operate-btn-item-preview {
        cursor: pointer;
        color: #1677ff;
    }
}
.super-modal-max>div {
    max-width: 100vw;
    height: 100vh;
    top: 0;
    padding-bottom: 0;
  }
  
  .super-modal-max .ant-modal-content {
    height: 100%;
  }
.active-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}